#logoutModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Ready to Leave?
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} x
      .modal-body
        Any unsaved data will be lost.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Cancel
        = link_to destroy_user_session_path, method:'delete', class: 'btn btn-primary' do
          Yes, logout now
