%nav#topbar.navbar.navbar-expand-md.navbar-light.d-none.d-md-flex
  .container-fluid
    %form.form-inline.mr-4.d-none.d-md-flex
      .input-group.input-group-flush.input-group-merge{"data-options": "{\"valueNames\": [\"name\"]}", "data-toggle": "lists"}
        %input.form-control.form-control-prepended.dropdown-toggle.search{"aria-label": "Search", "data-toggle": "dropdown", placeholder: "Search", type: "search"}
          .input-group-prepend
            .input-group-text
              %i.fad.fa-search
    .navbar-user
      %a.navbar-user-link.mr-3{href: root_path}
        %span.icon
          %i.fad.fa-globe-americas
        Public Website
      .dropdown.d-none.d-md-flex
        %a.navbar-user-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span.icon
            %i.fad.fa-plus-circle
            New
        .dropdown-menu.dropdown-menu-right.dropdown-menu-card
          .card-header
            .row.align-items-center
              .col
                %h5.card-header-title
                  Create New Record
          .card-body
            .list-group.list-group-flush.my-n3
              .list-group-item.px-0
                .row
                  %a.col-6.text-center.mb-4{href: new_mc_call_session_path}
                    %i.fad.fa-phone-office.fa-4x
                    .card-title Call Session
                  %a.col-6.text-center.mb-4{href: new_mc_contact_path}
                    %i.fad.fa-address-book.fa-4x
                    .card-title Contact
                  %a.col-6.text-center.mb-4{href: new_mc_contribution_path}
                    %i.fad.fa-donate.fa-4x
                    .card-title Contribution
                  %a.col-6.text-center.mb-4{href: new_mc_event_path}
                    %i.fad.fa-calendar-alt.fa-4x
                    .card-title Event
                  %a.col-6.text-center.mb-4{href: new_mc_expense_path}
                    %i.fad.fa-file-invoice.fa-4x
                    .card-title Expense
      .dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle
          %i.fad.fa-user-circle
          = current_user.name
        .dropdown-menu.dropdown-menu-right.text-right
          %a.dropdown-item{href: mc_about_path} About Campaign Manager
          %a.dropdown-item.text-right{href: edit_user_registration_path} Profile
          %hr.dropdown-divider
            %a.dropdown-item{"data-target": "#logoutModal", "data-toggle": "modal", href: '#'}
              %i.fad.fa-sign-out-alt
              Logout
