%nav#sidebar.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-dark
  .container-fluid
    %button.navbar-toggler{"aria-controls": "navbarVertical", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarVertical", "data-toggle": "collapse", type: "button"}
      %span.navbar-toggler-icon
    = link_to mc_dashboard_path, class: 'navbar-brand' do
      %i.fad.fa-rocket
      Mission Control
      - if Rails.env.development?
        %strong.text-info DEV
      - if Rails.env.test?
        %strong.text-danger TEST
    #navbarVertical.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to mc_call_sessions_path, class: 'nav-link' do
            %i.fad.fa-phone-office.fa-lg.sidebar-icon
            Call Sessions
        %li.nav-item
          = link_to mc_contacts_path, class: 'nav-link' do
            %i.fad.fa-address-book.fa-lg.sidebar-icon
            Contacts
        %li.nav-item
          = link_to mc_contributions_path, class: 'nav-link' do
            %i.fad.fa-donate.fa-lg.sidebar-icon
            Contributions
        %li.nav-item
          = link_to mc_events_path, class: 'nav-link' do
            %i.fad.fa-calendar-alt.fa-lg.sidebar-icon
            Events
        %li.nav-item
          = link_to mc_expenses_path, class: 'nav-link' do
            %i.fad.fa-file-invoice.fa-lg.sidebar-icon
            Expenses
      %hr.navbar-divider.my-3/
      %h6.navbar-heading
        Administration
      %ul.navbar-nav
        %li.nav-item
          = link_to mc_contribution_forms_path, class: 'nav-link' do
            %i.fad.fa-coins.fa-lg.sidebar-icon
            Contribution Forms
        %li.nav-item
          = link_to mc_contribution_types_path, class: 'nav-link' do
            %i.fad.fa-coins.fa-lg.sidebar-icon
            Contribution Types
        %li.nav-item
          = link_to mc_expense_types_path, class: 'nav-link' do
            %i.fad.fa-coins.fa-lg.sidebar-icon
            Expense Types
        %li.nav-item
          = link_to mc_political_parties_path, class: 'nav-link' do
            %i.fad.fa-box-ballot.fa-lg.sidebar-icon
            Political Parties
        %li.nav-item
          = link_to mc_volunteer_duties_path, class: 'nav-link' do
            %i.fad.fa-person-sign.fa-lg.sidebar-icon
            Volunteer Duties
