.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-users
          Contacts
      .col-auto
        = link_to 'New Contact', new_mc_contact_path, class: 'btn btn-primary lift'
.card
  .card-body
    Edit
