.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-phone-office
          Call Sessions
      .col-auto
        = link_to 'New Call Session', new_mc_call_session_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th{:style => "width: 5%;"}
          %th Name
          %th Address
          %th Email
      %tbody
