- content_for :header do
  Register for an account

= devise_error_messages!

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f|
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-user
      = f.text_field :first_name, class: 'form-control', placeholder: 'First Name', autofocus: true, autocomplete: 'off'
      = f.text_field :last_name, class: 'form-control', autocomplete: 'off', placeholder: 'Last Name'

  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-lock-alt
      = f.email_field :email, autocomplete: 'off', class: 'form-control', placeholder: 'Email Address'

  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-key
      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'

  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-key
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password Confirmation'

    - if @minimum_password_length
      %br
        %strong Password Requirements:
      .form-text.text-muted
        = @minimum_password_length
        characters minimum

  .form-group
    = f.submit 'Sign Up', class: 'btn btn-primary btn-block btn-login'
  .login-bottom-links
    = render 'devise/shared/links'
