- page_title 'Democracy & Electoral Reform', 'Issues'
%section.py-10.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/democracy.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Electoral Reform
        %p.lead.text-white-75.mb-0
          Fixing our democracy and elections to ensure one person, one vote
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              The right to vote has become the foundation of our democracy.
              Politicians have pushed for policies that make it harder to exercise our right.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Special elections for vacancies in the General Assembly
                  %p.card-text
                    Party bosses and county officials shouldn't get to pick who represents the people of Ohio.
                    Anytime a vacancy occurs in the House or Senate, a special election should occur within 90-days.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Automatic and private voter registration
                  %p.card-text
                    All citizens should be automatically registered to vote when they become eligible.
                    Ohio also needs to follow the lead of other States and place restrictions on who can download and
                    access Voter Files to prevent data harvesting. However, the state should continue to make available
                    voter data that doesn't include any identifiable personal information.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Equal access to the ballot for independent candidates
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Work to reduce the influence of money in our campaigns
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Join our team
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          With your help, we can rid our democracy of special interests and lobbyists.
          An Ohio where everyone has a voice is valued more than profit.
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-democracy', ref: 'website-democracy'), target: '_blank'}
        -#   Fight back against special interests

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/environment'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/economy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/healthcare'
