- page_title 'Economic opportunities', 'Issues'
%section.py-10.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/economy.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Economic opportunities
        %p.lead.text-white-75.mb-0
          An economy that puts people over profit and works for everyone
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pt-md-8.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              %span.text-danger Since World War II,
              there has been a basic understanding between the
              American worker and a corporation. One where you work a 40 hour week and in return you received certain
              benefits. Over time, wages have remained stagnant and benefits have dwindled away to now only meet the
              bare minimum. For the past three decades, our trade and economic polices have encouraged corporations to
              ignore their responsibility to the worker in favor of their shareholders. Factories have been closed and
              jobs have moved to other countries to exploit cheap labor.
            %p.card-text
              When I'm elected to the Senate, I'll be a champion for workers.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Implement a Living Wage Formula
                  %p.card-text
                    In 1968 Ohio’s minimum wage of $1.25/hr was equivalent to a $9/hr wage today. Year after year
                    lawmakers ignored minimum wage workers, and failed to see them living paycheck to paycheck.
                    In 2006, inaction forced Ohioans to pursue a ballot initiative tying our minimum wage to inflation.
                    With our current wage at $8.55/hr, we’ve fallen behind our 1968 standard and allowed minimum wage
                    workers to live just above the poverty line with only an additional $1600 a year.
                  %p.card-text
                    When I'm in the Senate, I will make it a point to create a new Living Wage formula. One that is
                    backed by science to take into account the average prices paid on rent, utilities, and state
                    mandated auto insurance. I'll work across the aisle to enact legislation to remove a separate wage
                    for tipped-employees. Ending our reliance on the public subsidizing wages, and shifting the
                    responsibilities of salaries back onto the employers.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Ensure Ohio never becomes a right-to-work State
                  %p.card-text
                    I'll ensure that Ohio will never become a right to work state. Right to work is a LIE!!! It is
                    union busting legislation, disguised as worker rights. Large corporations have begun pushing these
                    policies in an attempt to keep their workers from gaining momentum against them. Our unions keep
                    Ohioans safe, and ensure that they aren't taken advantage of by their employer.
                  %p.card-text
                    When I am elected to the Senate, I'll always vote in the best interest of our families and workers.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Pass paid family leave
                  %p.card-text
                    You shouldn't have to chose between financial stability and starting a family. The State needs to
                    acknowledging the benefit of having both parents at home to care for a child during it's first few
                    months of life.
                  %p.card-text
                    As your Senator, I'll work across the aisle to implement paid family leave that will bring Ohio up
                    to date with the rest of the world.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Close LLC tax loophole
                  %p.card-text
                    Our small businesses are a vital part of our economy. However, their reduced tax rate has been taken advantage of by those whom wish to reduce their tax liability.
                  %p.card-text
                    As your Senator, I will work diligently to close the LLC Loophole and use that money towards funding Ohio's public schools.
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Shareholder capitalism isn't working
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          Corporations do everything to minimize tax liability and benefits to employees while maximizing profits for
          CEOs and shareholders. Our hard work should benefit us not just corporations.
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-economy', ref: 'website-economy'), target: '_blank'}
        -#   Invest in our campaign today

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/healthcare'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/education'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/democracy'
