- page_title 'Pre K-12 & Higher Education', 'Issues'
%section.py-10.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/education.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Pre K-12 & Higher Education
        %p.lead.text-white-75.mb-0
          The quality of a child's education shouldn't depend on their zip code
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              I believe that every child has the right to an education, and that great learning shouldn't mean big cities,
              expensive private schools or affluent neighborhoods.
            /
              <p class="card-text">
              My great-grandfather knew the value of an education and instilled that in me my entire life.
              Born in 1922, his parents died at a young age and he wasn't able to complete his education.
              He worked hard his entire life to make sure multiple family members had the finances and resources
              required to complete their education. His lifetime of action inspired me to obtain guardianship of my
              younger sister so that she could graduate from Whetstone High School in 2018.
              </p>
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    New formula for funding public schools
                  %p.card-text
                    Growing up, I partook in every type of schooling that Ohio has to offer.
                    I started here in central-Ohio with our public schools and eventually moved to a private charter school.
                    My freshman year, I found myself in a situation where I needed to attend the now-defunct ECOT.
                    Eventually, I attended and graduated from Sheridan High School in rural Perry County.
                    Sheridan is the home to the landmark court case DeRolph v. State that ruled the current school funding
                    formula relied too much on property taxes and was unconstitutional.
                    Finally fixing this abomination is a cause very dear to my heart.
                  %p.card-text
                    When I am your Senator, I will propose a new formula for the funding of our schools.
                    A constitutional formula that provides an equal education for every student without being primaryly
                    funded on property taxes. Each child, regardless of where they live, should be able to get the same
                    great education all throughout our State.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Fully fund and implement universal Pre-K for all of Ohio's children
                  %p.card-text
                    Research continues to show that investment in early education has huge payoffs later in life.
                    Any new funding mechanism for Ohio's schools needs to include universal Pre-K for all children.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Prevent public funds from going towards private schools
                  %p.card-text
                    I wholeheartedly believe in the right to choose where your child receives their education, whether
                    that be at a public or private school. However, when a child leaves the public school system, the
                    taxpayer funds allocated to them are given to the private school in a disporprotional way. While I
                    firmly believe that parents and children should be able to choose a private school as an alternative,
                    I do not think the public funds should follow.
                  %p.card-text
                    Between our unconstitutional funding formula and private and charter schools, the public school
                    system is hurting for funding. We need a new school funding formula that works for both public and
                    private schools.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Refocus on skill and trade schools
                  %p.card-text
                    Being a self-taught software developer and college drop-out, I know the importance of our skills and
                    trade schools. A four-year university isn't the right path for everyone.
                  %p.card-text
                    Right now, we're on the cusp of a skilled labor shortage. With a large portion of the current
                    workforce set to retire in the next few years, we're going to begin to see voids in skilled laborers
                    such as electricians, plumbers, and carpenters.
                  %p.card-text
                    When you elect me to the Senate, I will work to make trade schools an essential part of Ohio's
                    education policy &#x2014; ensuring that these schools are a viable option for children planning their future.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Require internet and secuirty training
                  %p.card-text
                    In our increasingly digital lives, students should be required to learn the basics of how the
                    internet works and how to stay safe while using technology. They should be taught the importance
                    of strong passwords and how to avoid scams and phishing attempts. A firm grasp on the fundamentals
                    of programming and cybersecurity will help prepare our children for the future and workforce.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Work to bring down costs for attending colleges and universities
                  %p.card-text
                    Since 1978, the cost of textbooks has risen 812%, outpacing even the cost of medical services and
                    new housing. Nationally, students spend an average of $1,200 a year on textbooks. Within Ohio alone,
                    2-year and 4-year students spend over $382 million a year on textbooks.
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Equal education for all
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          Our children need the best schools in the nation to reach their full potential.
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-education', ref: 'website-education'), target: '_blank'}
        -#   Invest in better schools for our children

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/democracy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/economy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/healthcare'
