- page_title 'The Environment & Clean Energy', 'Issues'
%section.py-10.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/environment.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          The Environment & Clean Energy
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              There is no denying that the climate has gotten weirder over the last several years. The seasons don't
              seem to be starting or ending when they used to, and they're even bringing different weather with them.
            %p.card-text
              Droughts wreak havoc in parts of the world while at home we experience rain that delays crop planting and
              brings historic levels of flooding. Hurricanes have increased intensity. Tornados and storms bring
              devastation throughout the Midwest and Ohio. Scientists have told us that our time to solve these problems
              is running out.
            %p.card-text
              Our leaders must treat climate change with the urgency that it deserves. Climate change won't bring about
              the destruction of Earth. But it will bring an end to life as we know it for our children if we don't take
              action now to reduce our carbon emissions and increase our air quality.
        .list-group-item
          .d-flex.align-items-center
            .mr-auto
              %h4.font-weight-bold.text-danger
                %i.fas.fa-check-circle.text-success
                Continue to invest in wind, solar, and other forms of renewable energy
              %p.card-text
                By 2025, every single coal-fired plant along the Ohio River is going to find itself in the situation
                where it'll be cheaper to build with new wind or solar farms than continue to be in operation. Ohio
                must hold firm to its clean energy standards while working aggressively to increase them.
        .list-group-item
          .d-flex.align-items-center
            .mr-auto
              %h4.font-weight-bold.text-danger
                %i.fas.fa-check-circle.text-success
                Join the United States Climate Alliance
              %p.card-text
                As your Senator, I'd introduce legislation to commit Ohio to implement the commitments made by President
                Obama when joining the 2015 Paris Climate Agreement.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Ban fracking in Ohio
                  %p.card-text
                    The risks of water contamination are too high.
                    We can't risk ruining our drinking water, and we need to protect and conserve our lands.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Explore tax on Carbon emissions
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Ready to make a change?
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          We'd love to have your support!
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-environment', ref: 'website-environment'), target: '_blank'}
        -#   Invest in enviroment justice

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/lgbtq'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/education'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/technology'
