- page_title 'Healthcare & Perscription Drugs', 'Issues'
%section.py-10.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/healthcare.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Healthcare & Perscription Drugs
        %p.lead.text-white-75.mb-0
          A fundamental right and an industry in need of moral reform
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              Healthcare is a right and not a privilege. We need policies that work towards a system where all Ohioans have access to the healthcare they need.
              The greed of pharmaceutical companies and healthcare providers have robbed Ohioans of the American Dream.
              They&#x2019;ve forced families to pay higher healthcare costs than the rest of the world and given us nothing to show for it in return.
            %p.card-text
              That&#x2019;s why as your Senator, I&#x2019;d advocate for policies that put people over profit and helped Ohioans get access to the affordable healthcare they need.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Limit profits of drug manufactures on life saving medications like Insulin and Epi-pens
                  %p.card-text
                    Insulin was discovered in 1921, and the patent sold for $1. It's creators knew the importance of
                    their discovery and that it should be widely available to the public. After almost a hundred years,
                    the average monthly cost is around $1,000 despite the formula having been unchanged in over twenty
                    years. The reason for such high prices? Profits.
                  %p.card-text
                    For too long, health insurance and pharmaceutical companies have profited off the misfortunes of our
                    friends and families. They raise prices on life-saving medications year after year, while production
                    costs stay the same; Worried more about the bottom line, and shareholder returns than the lives that
                    their drugs are saving. It's time we take a stand.
                  %p.card-text
                    As your State Senator, I will limit the amount of profit pharmaceutical companies can make off of
                    these life-saving medications. This way, our citizens won't have to worry if they'll be able to
                    afford to live next month. I promise this will be the first piece of legislation I introduce if
                    elected to the Senate.
                    %p
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Defend Medicaid Expansion in Ohio
                  %p.card-text
                    Governor John Kasich was smart to take advantage of and expand the Medicaid program to include
                    hundreds of thousands of Ohioans. I'll work with Governor Mike DeWine to ensure he keeps his promise
                    to keep the expansion but will fight to ensure it's recipients aren't subject to work requirements.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Opioid Epidemic
                  %p.card-text
                    We need a new approach to solving the opioid epidemic. We should be treating this as a healthcare emergency rather than a drug-use problem.
                    Promoting rehabilitation over incarceration to ensure that people are getting the help they need.
                    We should be open to alternative treatment methods, such as expanding on Ohio's medical marijuana program and ensure it's barriers for entry aren't too high.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Restore funding for Planned Parenthood
                  %p.card-text
                    As the son of a teenage mother, Planned Parenthood has a special place in my heart. Without this
                    great organization, my mother wouldn't have had the resources she needed in 1994 to make the
                    informed decisions she needed to make. Planned Parenthood provides a variety of services for women
                    and men like patient education, HIV and STD testing, and even preventive care.
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Ready to make a change?
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          We'd love to have your support!
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-healthcare', ref: 'website-healthcare'), target: '_blank'}
        -#   Fight back against the drug companies

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/education'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/democracy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/economy'
