- page_title 'Issues'

.row.mt-5
  .col-12
    .row.mb-6.mb-md-5
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-vote-yea.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          Campaign Platform
        %p.font-size-lg.text-gray-700.mb-0
          Ideas and policies for Ohioans from all walks of life
    %section.row
      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "100"}
        = render partial: 'issues/tiles/healthcare'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/education'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/economy'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/environment'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/womens_rights'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/democracy'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/lgbtq'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/guns'

      .col-12.col-md-6.aos-init.aos-animate.mt-3{"data-aos": "fade-up", "data-aos-delay": "200"}
        = render partial: 'issues/tiles/technology'

    %section.pt-8.pb-4
      .container
        .row.justify-content-center
          .col-12.col-md-10.col-lg-8.text-center
            %h2.font-weight-bold.text-danger
              Can't find what you're looking for?
            %p.font-size-lg.text-muted.mb-7.mb-md-9
              Contact us and we'll get back to you as soon as possible with an answer to whatever issues you're
              inquring about.
        .row.mb-7
          .col-12.col-md-2.text-center.border-right.border-gray-300
            %h6.text-uppercase.text-gray-700.mb-1
              Message us
            .mb-5.mb-md-0
              %a.h4.text-primary{href: "http://m.me/adkinsforohio?ref=campagin_platform", target: "_blank"}
                Start a chat!
          .col-12.col-md-3.text-center.border-right.border-gray-300
            %h6.text-uppercase.text-gray-700.mb-1
              Call anytime
            .mb-5.mb-md-0
              %a.h4{href: "#"}
                (614) 598-6678
          .col-12.col-md-4.border-right.border-gray-300.text-center
            %h6.text-uppercase.text-gray-700.mb-1
              Email us
            .mb-5.mb-md-0
              %a.h4{href: contact_link}= contact_email
          .col-12.col-md-3.text-center
            %h6.text-uppercase.text-gray-700.mb-1
              Mail us
            .mb-5.mb-md-0
              %a.h4{href: "#!"}
                163 W Kanawha Ave
                %br/
                Columbus, OH 43214
