%section.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/lgbtq.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          LGBTQ+
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              Over tha last decade, the United States has made significant progress on expanding gay rights.
              Unfortunately, it's a reality in Ohio and throughout America that people
              face bullying and much worse for being a member of the LGBTQ+ community;
              Workplace intimidation, the ignorance of homophobia and transphobia, and in some cases, even
              violence or death.
            %p.card-text
              As your Senator, I'll be an ally in the struggle to end this unjust treatment and discrimination. I'll work hard, and
              with my colleagues to bring out the best values in all Ohioans. We'll work towards an Ohio that is accepting, loving, and
              inclusive towards everyone and an example for all States.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Pass the Ohio Fairness Act
                  %p.card-text
                    Prevent discrimination based on sexual orientation, gender identity, or gender expression.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Advance policies to ensure LGBTQ+ people receive health insurance and coverage without
                    discrimination from providers
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Oppose any legislation that tries to protect religious liberty at the expense of other's rights
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Help create a more loving and inclusive Ohio
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-lgbtq', ref: 'website-lgbtq'), target: '_blank'}
        -#   Fight back against extremism

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/healthcare'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/technology'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/democracy'
