%section.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/seniors.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Seniors
        %p.lead.text-white-75.mb-0
          ?
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pt-md-8.pb-8.mb-md-8
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              ?
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    1
                  %p.card-text
                    ?
                  %p.card-text
                    ?
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    2
                  %p.card-text
                    ?
                  %p.card-text
                    ?
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    3
                  %p.card-text
                    ?
                  %p.card-text
                    ?
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    4
                  %p.card-text
                    ?
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Header
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          Text
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: volunteer_path}
          Join our team
        %a.btn.btn-danger.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
