- page_title 'Privacy & Technology', 'Issues'
%section.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/technology.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Privacy & Technology
        %p.lead.text-white-75.mb-0
          Ohio needs to step up its responsibility of protecting its citizens.
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Reconiginze that the Internet is a vital public utility
                  %p.card-text
                    It's getting harder and harder to live life without access to a computer or the internet.
                    Many businesses only allow new employees to apply online, and students are frequently assigned
                    homework that requires access to the internet.
                  %p.card-text
                    It's time for Ohio to recognize that broadband internet is an essential public utility. Just like
                    with electricity and landline telephones in the past, the government must step up and make sure that
                    those without access to the internet aren't at risk of being left behind.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Require opt-in for data collection and advertisement personalization
                  %p.card-text
                    Tech companies have profited off data collected about us as we use apps and browse the web. Our lax
                    regulations have allowed highly targeted advertisements that make it seem as if our phones are
                    listening to our conversations.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Implement security requirements for businesses that operate online
                  %p.card-text
                    A business that operates online and stores customer data needs to be held accountable for that data.
                    The government needs to ensure that sensitive information is stored securely and encrypted to prevent
                    exposure when it gets hacked.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Investigate possible monopiles in the tech industry
                  %p.card-text
                    As your Senator, I'll use the full power and influence of my office to ensure that the behavior of
                    technology companies doesn't rise to the level of anti-trust or isn't harmful to users.
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Expand Internet access for all Ohioans
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-technology', ref: 'website-technology'), target: '_blank'}
        -#   Invest in Ohio's future

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/economy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/womens_rights'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/lgbtq'
