- page_title 'Women\'s rights & equality', 'Issues'
%section.py-md-14.overlay.overlay-black.overlay-60.bg-cover.mt-10{style: "background-image: url('#{asset_path('issues/women.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white.text-uppercase
          Women's rights & equality
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section.pt-6.pb-6
  .container
    .row
      .col-12
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .card-body
            %p.card-text
              One hundred years after women fought and won the right to vote, the fight isn't over for so many other
              things. From reproductive freedom to economic security, the inalienable rights of woman are under attack.
        .card.shadow-light-lg.accordion.mb-5.mb-md-6
          .list-group
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Repeal the six-week abortion ban
                  %p.card-text
                    It's a fundamental right for a person to have a say in their health. Unfortunately, the legislature
                    has made a habit of trying to control what women do with their bodies. Women have the right to
                    decide what happens to their bodies without the government interfering.
                  %p.card-text
                    As your Senator, I'd oppose all efforts to undermine or overturn
                    = succeed "." do
                      %em Roe v. Wade
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Work to reduce pregnancy-related deaths and infant mortality rate
                  %p.card-text
                    The United States continually ranks as one of the worst developed nations when it comes to infant
                    mortality. You don't have to search far to discover that our unaffordable healthcare system is the
                    primary cause.
                  %p.card-text
                    Regrettably, our policies and efforts thus far have failed to yield any positive results for African
                    American citizens. One of the highest priorities of my term would be working to reduce the increased
                    number of pregnancy-related deaths among black mothers. While at the same time, working across the
                    asile to eliminate the disparity that exists in the infant mortality rates between white and black
                    babies.
            .list-group-item
              .d-flex.align-items-center
                .mr-auto
                  %h4.font-weight-bold.text-danger
                    %i.fas.fa-check-circle.text-success
                    Support the passage of the Ohio Equal Pay Act
                  %p.card-text
                    It's unacceptable that in this day in age, women continue to earn less than men for equal work.
                    As your Senator, I'll propose legislation that works to verify that women are compensated at the
                    same rate as their male counterparts.
%section.pb-2
  .container
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Ready to stand-up for women?
      .col-12.col-md-auto.pt-5
        %a.btn.btn-primary-soft.lift{href: issues_path}
          %i.fad.fa-box-ballot
          View all proposals
        -# %a.btn.btn-danger.lift{href: donate_url(form: 'afo-womens-rights', ref: 'website-womens-rights'), target: '_blank'}
        -#   Fight back against extremism

%section.pt-8.pb-8
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Other issues
        %h1 Real solutions for Ohio
        %p.font-size-lg.text-gray-700.mb-7.mb-md-9
          We need new leadership with the ideas and solutions to solve the problems we're facing today.
          We need policies that focus on
          %span.text-danger people
          and not campaign donors or special interests.
    .row
      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up"}
        = render partial: 'issues/tiles/economy'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = render partial: 'issues/tiles/healthcare'

      .col-12.col-md-4.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        = render partial: 'issues/tiles/environment'
