.card
  .card-header
    %h3.card-header-title
      Information
  .card-body
    = f.hidden_field :id
    .form-row
      .form-group.col-12.col-lg-9
        = f.label :description, class: 'col-form-label'
        = f.text_field :description, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :expense_date, class: 'col-form-label'
        #expensepicker.input-group.date{"data-target-input": "nearest", 'data-date-picker': ''}
          = f.text_field :expense_date, value: l_present(@expense.expense_date), class: 'form-control datepicker-input', 'data-target': '#expensepicker'
          .input-group-append{"data-target": "#expensepicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar
    .form-row
      .form-group.col-12.col-lg-3
        = f.label :amount, class: 'col-form-label'
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fad.fa-dollar-sign
          = f.text_field :amount, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :expense_type_id, class: 'col-form-label'
        = f.select :expense_type_id,
          options_from_collection_for_select(@types, 'id', 'name', @expense.expense_type_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-6
        = f.label :contact_id, class: 'col-form-label'
        = f.select :contact_id,
          options_from_collection_for_select(@contacts, 'id', 'name', @expense.contact_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-6
        = f.label :event_id, class: 'col-form-label'
        = f.select :event_id,
          options_from_collection_for_select(@events, 'id', 'name', @expense.event_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-3
        = f.label :deleted_at, class: 'col-form-label'
        #deletedpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
          = f.text_field :deleted_at, value: l_present(@expense.deleted_at), class: 'form-control datepicker-input', 'data-target': '#deletedpicker'
          .input-group-append{"data-target": "#deletedpicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar
