.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          About
        %h1.header-title
          %i.fad.fa-info-circle
          Campaign Manager

.row
  .col
    .form-group.row
      %label.col-sm-3.col-form-label Licensed To
      .col-sm-9
        %a{href: 'https://www.adkinsforohio.com'} Adkins for Ohio
    .form-group.row
      %label.col-sm-3.col-form-label Developed By
      .col-sm-9
        %a{href: 'https://www.mythcoders.com'} MythCoders
        %br= "\u00A9 Copyright #{Time.zone.today.year}"
        Made with
        %i.fad.fa-heart.text-danger
        in Ohio
