.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-sack-dollar
          Finances Dashboard
      .col-auto
        = link_to 'New Contribution', new_mc_contribution_path, class: 'btn btn-primary lift'
        = link_to 'New Expense', new_mc_expense_path, class: 'btn btn-primary lift'
