.header.mt-md-5
  .container-fluid
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Overview
          %h1.header-title
            %i.fad.fa-analytics
            Campaign Dashboard

.container-fluid
  .row
    .col-12.col-lg-6.col-xl
      .card
        .card-body
          .row.align-items-center
            .col
              %h6.card-title.text-uppercase.text-muted.mb-2 New Contacts
              %span.h2.mb-0= @recent_contacts
            .col-auto
              %span.h2.fad.fa-address-book.text-muted.mb-0