.card.shadow-light-lg.mb-6.mb-md-0.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url("issues/democracy.jpg")}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-primary
          %span.h6.text-uppercase 4 proposals
      %h3.text-uppercase.text-danger
        Electoral reform
      %p.text-muted
        Expensive campaigns have moved control out of the hands of the individual voters.
        Extensive Gerrymandering has forced politicians to pursue divisive policies while
        avoiding elective primaries.
      = link_to democracy_path, class: 'btn btn-primary-soft btn-block' do
        Learn more
        %i.fad.fa-chevron-double-right.ml-3