.card.shadow-light-lg.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url('issues/economy.jpg')}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-primary
          %span.h6.text-uppercase 4 proposals
      %h3.text-uppercase.text-danger
        Economic opportunities
      %p.text-muted
        Corporations do everything to minimize tax liability and benefits to employees while maximizing profits
        for CEOs and shareholders. Our hard work should benefit us, not just corporations.
      = link_to economy_path, class: 'btn btn-primary-soft btn-block' do
        Learn more
        %i.fad.fa-chevron-double-right.ml-3