.card.shadow-light-lg.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url("issues/rural.jpg")}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-warning
          %span.h6.text-uppercase Proposals being finalized
      %h3.text-uppercase.text-danger
        Rural Ohio
      %p.text-muted
        Our rural communities haven't fully recovered from the recession and are continuing
        to face challenges. We need new policies that guarantee these communities aren't
        left behind and that the small-town way of life survives.