.card.shadow-light-lg.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url("issues/seniors.jpg")}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-warning
          %span.h6.text-uppercase Proposals being finalized
      %h3.text-uppercase.text-danger
        Seniors
      %p.text-muted
        Retirement shouldn't be a part-time job and worrying about how to pay for
        prescriptions and medical expenses.
      /
        <a href="<haml_loud> issues_path </haml_loud>" class="btn btn-primary-soft btn-block">
        Learn more <i class="fas fa-arrow-right ml-3"></i>
        </a>