.card.shadow-light-lg.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url("issues/veterans.jpg")}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-warning
          %span.h6.text-uppercase Proposals being finalized
      %h3.text-uppercase.text-danger
        Veterans
      %p.text-muted
        They've served our country, but we've not held up our obligations to them.
        Ohio must fill the void created by the shortcomings of the Federal government.