.card.shadow-light-lg.lift.lift-lg
  %img.card-img-top{alt: "...", src: asset_url("issues/women.jpg")}
    .position-relative
      .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
        %svg{fill: "none", preserveAspectRatio: "none", viewBox: "0 0 1440 24"}
          %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
    .card-body.position-relative
      .position-relative.text-right.mt-n8.mr-n4.mb-3
        %span.badge.badge-pill.badge-primary
          %span.h6.text-uppercase 3 proposals
      %h3.text-uppercase.text-danger
        Women's rights & equality
      %p.text-muted
        It's a fundamental right for a woman to have control of her body. That right needs to be defended and
        expanded. We also have to eliminate the pay discrimination that women face.
      = link_to womens_rights_path, class: 'btn btn-primary-soft btn-block' do
        Learn more
        %i.fad.fa-chevron-double-right.ml-3