- page_title 'Volunteer'
#fb-root
%script{async: "", crossorigin: "anonymous", defer: "defer", src: "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"}
.row.mt-5
  .col-12
    .row.mb-6.mb-md-8
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-person-sign.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          Join our team
        %p.font-size-lg.text-gray-700.mb-0
          Help bring change to the 16th District
  .col-12.col-lg-8
    .card.card-border.border-primary.shadow-light-lg.mt-3
      .card-body
        = form_for @contact, url: new_volunteer_path do |f|
          = error_messages_for 'contact'
          %h5
            Contact Information
            \#{f.hidden_field :id}
            .form-row
              .form-label-group.col-12.col-md-6
                = f.text_field :first_name, class: 'form-control', required: 'required', placeholder: 'First name'
                = f.label :first_name
              .form-label-group.col-12.col-md-6
                = f.text_field :last_name, class: 'form-control', required: 'required', placeholder: 'Last name'
                = f.label :last_name
            .form-row
              .form-label-group.col-12
                = f.email_field :email, class: 'form-control', required: 'required', placeholder: 'Email address'
                = f.label :email
            .form-row
              .form-label-group.col-12.col-md-3
                = f.text_field :zip_code, class: 'form-control', required: 'required', placeholder: 'Zip Code'
                = f.label :zip_code
              .form-label-group.col-12.col-md-9
                = f.text_field :phone_number, class: 'form-control', placeholder: 'Phone number'
                = f.label :phone_number
            .form-row
              .form-group.col-12
                %h5 What are you interested in doing?
                = collection_check_boxes(:contact, :volunteer_duty_ids, @duties, :id, :name) do |b|
                  .custom-control.custom-checkbox.custom-control-inline
                    = b.check_box(class: 'custom-control-input')
                    = b.label(class: 'custom-control-label')
                .form-group.col-12
                  -# = recaptcha_v3(action: 'volunteer')
                  -# = f.submit "Sign up", class: "btn btn-primary btn-lg mt-5"
  .col-12.col-lg-4
    .fb-page{"data-adapt-container-width": "true", "data-height": "", "data-hide-cover": "false", "data-href": "https://www.facebook.com/AdkinsForOhio/", "data-show-facepile": "true", "data-small-header": "false", "data-tabs": "timeline,events", "data-width": ""}
      %blockquote.fb-xfbml-parse-ignore{cite: "https://www.facebook.com/AdkinsForOhio/"}
        %a{href: "https://www.facebook.com/AdkinsForOhio/"} Justin Adkins for Ohio Senate

%section.pt-6
  .row.align-items-center
    .col-12.col-md
      %h3.font-weight-bold.mb-1.text-danger
        Stay connected on social media
      %p.font-size-lg.text-muted.mb-6.mb-md-0
        With your help, our democracy can be one person, one vote!
    .col-12.col-md-auto
      = render partial: 'layouts/partials/media_buttons'
