.card
  .card-header
    %h3.card-header-title
      Information
  .card-body
    = f.hidden_field :id
    .form-row
      .form-group.col-12.col-lg-6
        = f.label :name, class: 'col-form-label'
        = f.text_field :name, class: 'form-control'
      .form-group.col-12.col-lg-6
        = f.label :description, class: 'col-form-label'
        = f.text_field :description, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :start, class: 'col-form-label'
        #startpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
          = f.text_field :start, value: l_present(@event.start), class: 'form-control datepicker-input', 'data-target': '#startpicker'
          .input-group-append{"data-target": "#startpicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar
      .form-group.col-12.col-lg-3
        = f.label :end, class: 'col-form-label'
        #endpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
          = f.text_field :end, value: l_present(@event.end), class: 'form-control datepicker-input', 'data-target': '#endpicker'
          .input-group-append{"data-target": "#endpicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar
      .form-group.col-12.col-lg-6
        = f.label :rsvp_link, class: 'col-form-label'
        = f.text_field :rsvp_link, class: 'form-control'
      .form-group.col-12.col-lg-3
        .custom-switch.custom-control
          = f.check_box :fundraiser, class: 'custom-control-input', required: 'required'
          = f.label :fundraiser, class: 'custom-control-label'

