= form_for @event, url: mc_event_path(@event), method: :patch do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Events
          %h1.header-title
            %i.fad.fa-donate
            Edit Event
        .col-auto
          = link_to 'Cancel', mc_expenses_path, class: 'btn btn-link text-muted'
          = f.submit 'Save Changes', class: 'btn btn-success lift'
  = render partial: 'form', locals: { f: f }
