.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-calendar-alt
          Events
      .col-auto
        = link_to 'New Event', new_mc_event_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th{:style => "width: 5%;"}
          %th Name
          %th When
          %th Fundraiser
      %tbody
        - @events.each do |c|
          %tr
            %td= link_to 'Edit', edit_mc_event_path(c), class: 'btn btn-outline-secondary btn-sm'
            %td= c.name
            %td= l_present c.start
            %td= c.fundraiser
