= form_for @event, url: mc_events_path do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Events
          %h1.header-title
            %i.fad.fa-calendar-alt
            New Event
        .col-auto
          = link_to 'Cancel', mc_events_path, class: 'btn btn-link text-muted'
          = f.submit 'Create', class: 'btn btn-success lift'
  = render partial: 'form', locals: { f: f }
