- content_for :header do
  Change your password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, 'New password'
    = f.password_field :password, autofocus: true, class: 'form-control', autocomplete: 'off'
    - if @minimum_password_length
      .form-text.text-muted="#{@minimum_password_length} characters minimum"
  .form-group
    = f.label :password_confirmation, 'Confirm new password'
    = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off'
  .form-group
    = f.submit 'Change my password', class: 'btn btn-primary btn-block btn-login'
  .login-bottom-links
    = render 'devise/shared/links'