- page_title 'Meet Justin'
.row.mt-5
  .col-12
    .row.mb-6
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-user.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          Meet Justin Adkins
        %p.font-size-lg.text-gray-700.mb-0
          Who he is and why he's running
  .col-12
    %p.mb-4
      %strong In a lot of ways, my story reflects the struggles of our state.
      I was born right here in Central OH while my
      parents were still enrolled at Whetstone High School. Like too many Ohioans, drug abuse and the opioid epidemic
      hit my family hard. My single mother struggled with addiction for much of my childhood.
    %p.mb-4
      By the time my family stepped in, I'd already been missing school to take care of my younger siblings, Brendan and
      Hayleigh. We soon moved in with our respective grandparents, and I was able to repeat the first grade in Columbus
      City Schools.
    %p.mb-4
      My grandparents, who raised me, divorced before the start of my freshman year, and it hit me pretty hard. I stayed
      and took care of my blind grandpa, but after a while, it was too hard balancing school and life at home. I dropped
      out of the charter school I was attending and finished the remainder of my freshman year at the now-defunct ECOT.
    %p.mb-4
      At the end of that year, I moved to Perry County with my aunt and uncle.
      %strong I graduated from Sheridan High School, which is literally in the middle of a cornfield.
      Sheridan is also home to the landmark DeRolph court case that ruled Ohio's school funding unconstitutional.
    %p.mb-4
      While most would probably see this as a difficult childhood, I like to think of it as life granting me a unique
      opportunity to experience all aspects of Ohio's unfair education system.
    %p.mb-4
      After graduating, I moved back up to Columbus and briefly attended DeVry University while working two jobs.
      Eventually, I got an internship and later full-time job with the Ohio Department of Public Safety.
      Soon after, I decided to drop out of DeVry so that I wouldn’t increase my loan debt any further.
    .card
      .row.no-gutters.shadow-light-lg
        .col-12.col-md-5
          %img.img-fluid.rounded-top.d-md-none{src: asset_path('JustinAlt.jpg'), style: "image-orientation: from-image;"}/
          .position-absolute.w-100.h-100.bg-cover.rounded-left.d-none.d-md-block{style: "background-image: url('#{asset_path('JustinAlt.jpg')}');"}
            .shape.shape-right.shape-fluid-y.svg-shim.text-white
              %svg{fill: "none", viewbox: "0 0 58 345", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M58 0H51C76 212 0 345 0 345H58V0Z", fill: "currentColor"}
        .col-12.col-md-7
          %blockquote.blockquote.pt-7.pb-7.pt-md-10.pb-md-9.px-6.px-md-8.mb-0.bg-white.rounded-right.text-center
            %p.mb-5.mb-md-7
              My story is pretty unique for a political candidate.
              But it’s not unique for everyday Ohioans. And that’s why I’m running.
              In 2020, we have an opportunity to take back our state and set it on the right path.
              We need more leaders at the Statehouse who’ve been where I’ve been.
              Then we can propose solutions that we know from experience will work.
            %footer.blockquote-footer
              %span.h6.text-uppercase Justin Adkins, Democrat for Ohio Senate District 16
    %p.mb-4.mt-4
      %strong This first-hand experience proves that a college degree isn't the only path to a successful career.
      We can't lose sight of our skill and trade jobs.
    %p.mb-4
      But there were also so many times when my life could have easily taken a bad turn. Ohio kids shouldn’t have to
      spend their childhood fighting to avoid falling through the cracks.
    %p.mb-4
      I worked with Public Safety for nearly five years. My team and I helped further the department’s mission of
      creating a Safer Ohio while also saving taxpayers
      %strong over a $1 million/yr.
    %p.mb-4
      Then in 2016, my sister Hayleigh was having trouble at home. So, I stepped up, attained guardianship, and let her
      move in with me. I wasn't ready to raise a child, but I wanted to ensure that she graduated from Whetstone High
      School on time.
    %p.mb-4
      A year later, I started a technology company called MythCoders with my best friend. We offer technical services to
      other small businesses at affordable prices. Thankfully, we’re still chugging along and now have clients in
      Franklin and Perry Counties.
    %p.mb-4
      I currently work for CoverMyMeds and live just south of Worthington in Sharon Township with my two cats, Caesar
      and Cleopatra. When I'm not building websites, I'm a member of the Sharon Township Tech Committee, the Worthington
      Noon Lions Club, and the Franklin County Young Dems.
    %p.mb-4
      %strong As I've gotten older, I’ve realized that my story is too often just life in America.
    %p.mb-4
      I've watched friends and family barely able to afford life-saving Insulin despite having insurance.
      I've helped people file for divorce so they could qualify for Medicaid.
      And we've all read the horror stories of people turning to GoFundMe to help pay for large medical bills.
      In a nation as prosperous as ours, this is immoral. And we can do better. That’s why I support capping the costs
      of life-saving drugs and introducing a public insurance option to compete with insurance companies.
    %p.mb-4
      I know from experience that it's not possible to live off a wage of $8.55 an hour and have a middle-class life.
      That's why I've proposed a Living Wage Formula that restores the Dignity of Work by finally paying people what
      they're worth. My formula ensures all your monthly income doesn't go towards necessities like food, rent,
      utilities, and mandated auto insurance.
    %p.mb-4
      %strong In 2020, we have an opportunity to take back our state and set it on the right path.
      We need bold new leadership to tackle the challenges that lie ahead. We don’t have time for politics as usual.
    %p.mb-4
      My story is pretty unique for a political candidate.
      But it’s not unique for everyday Ohioans. And that’s why I’m running.
    %p.mb-4
      We need more leaders at the Statehouse who’ve been where I’ve been.
      Then we can propose solutions that we know from experience will work.
%section.pt-6
  .row.align-items-center
    .col-12.col-md
      %h3.font-weight-bold.mb-1.text-danger
        Join our team
      %p.font-size-lg.text-muted.mb-6.mb-md-0
        With your help, we can take back our government and get it working again for the people.
    .col-12.col-md
      %a.btn.btn-primary-soft.mr-1.lift{href: volunteer_path}
        Sign-up to volunteer
      -# %a.btn.btn-danger.lift{href: donate_url(ref: 'website-about')}
      -#   Make a contirbution
      -#   %i.fad.fa-chevron-double-right.d-none.d-md-inline.ml-3
