- page_title 'Contact Us'
%section.py-10.py-md-15.overlay.overlay-black.overlay-60.bg-cover{style: "background-image: url('#{asset_path('DowntownWorthington.jpg')}');"}
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        %h1.display-2.font-weight-bold.text-white
          We’re Here to Help.
        %p.lead.text-white-75.mb-0
          We always want to hear from you! Let us know how we can best help you and we'll do our very best.
.position-relative
  .shape.shape-bottom.shape-fluid-x.svg-shim.text-light
    %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
%section#info.py-7.py-md-9.border-bottom.border-gray-300
  .container
    .row
      .col-12.text-center
        %a.btn.btn-white.btn-rounded-circle.shadow.mt-n11.mt-md-n13{"data-smooth-scroll": "", href: "#info"}
          %i.fa.fa-arrow-down
    .row.text-center
      -# .col-12.col-md-2.text-center.border-right.border-gray-300
      -#   %h6.text-uppercase.text-gray-700.mb-1
      -#     Message us
      -#   .mb-5.mb-md-0
      -#     %a.h4.text-primary{href: "http://m.me/adkinsforohio?ref=website-contact", target: "_blank"}
      -#       Start a chat!
      -# .col-12.col-md-2.text-center.border-right.border-gray-300
      -#   %h6.text-uppercase.text-gray-700.mb-1
      -#     Call anytime
      -#   .mb-5.mb-md-0
      -#     %a.h4{href: "#"}
      -#       (614) 598-6678
      .col-12
        %h6.text-uppercase.text-gray-700.mb-1.text-center
          Email us
        .mb-5.mb-md-0
          %a.h4{href: contact_link}= contact_email
      -# .col-12.col-md-4.text-center
      -#   %h6.text-uppercase.text-gray-700.mb-1
      -#     Mail us
      -#   .mb-5.mb-md-0
      -#     %a.h4{href: "#"}
      -#       163 W Kanawha Ave
      -#       %br/
      -#       Columbus, OH 43214
