- page_title 'Events'
#fb-root
%script{async: "", crossorigin: "anonymous", defer: "defer", src: "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"}
.row.mt-5
  .col-12
    .row.mb-6.mb-md-8
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-calendar-alt.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          Upcoming Events
        %p.font-size-lg.text-gray-700.mb-0
          Come out and meet Justin
  .col-12.col-md-8
    .row
      -# .col-12.col-xl-6.d-flex.mb-2
      -#   %a.card.text-reset.text-decoration-none.shadow-light-lg.lift{href: "https://www.facebook.com/events/753195261841198/"}
      -#     .card-body.d-flex.flex-column
      -#       %h3 Coffee with the Candidate
      -#       %p.text-muted.mb-5
      -#         Highline Coffee
      -#         %br
      -#         Worthington, OH
      -#       .row.mt-auto.pt-5.border-top
      -#         .col
      -#           %h6.text-uppercase.text-muted.mb-0.text-primary
      -#             %time{datetime: "2020-01-11"}
      -#               Sat January 11, 2020
      -#               %br
      -#               10:00am-11:30am
      -# .col-12.col-xl-6.d-flex.mb-2
      -#   %a.card.text-reset.text-decoration-none.shadow-light-lg.lift{href: "https://www.facebook.com/events/2397309920374422/"}
      -#     .card-body.d-flex.flex-column
      -#       %h3 Coffee with the Candidate
      -#       %p.text-muted.mb-5
      -#         Transcend Coffee & Roastery
      -#         %br
      -#         Grove City, OH
      -#       .row.mt-auto.pt-5.border-top
      -#         .col
      -#           %h6.text-uppercase.text-muted.mb-0.text-primary
      -#             %time{datetime: "2020-03-17"}
      -#               Sat January 25, 2020
      -#               %br
      -#               10:00am-11:30am
      .col-12.col-xl-6.d-flex.mb-2
        %a.card.text-reset.text-decoration-none.shadow-light-lg.lift{href: "https://www.lettforohio.com/home"}
          .card-body.d-flex.flex-column
            %h3 Election Day
            %p.text-muted.mb-5
              Come out and vote for Crystal Lett at your local precinct!
            .row.mt-auto.pt-5.border-top
              .col
                %h6.text-uppercase.text-muted.mb-0.text-primary
                  %time{datetime: "2020-03-17"}
                    Tue March 17, 2020
                    %br
                    6:30am-7:30pm
  .col-12.col-md-4
    .fb-page{"data-adapt-container-width": "true", "data-height": "", "data-hide-cover": "false", "data-href": "https://www.facebook.com/AdkinsForOhio/", "data-show-facepile": "true", "data-small-header": "false", "data-tabs": "events,timeline", "data-width": ""}
      %blockquote.fb-xfbml-parse-ignore{cite: "https://www.facebook.com/AdkinsForOhio/"}
        %a{href: "https://www.facebook.com/AdkinsForOhio/"} Justin Adkins for Ohio Senate
