- page_title 'Home'

%section.pt-11.mt-5.bg-light.pb-5
  .container
    = render partial: 'layouts/partials/suspension'
    .row.align-items-center
      .col-12.col-md-5.col-lg-6.order-md-2
        %img.img-fluid.rounded.aos-init.aos-animate{alt: "...", "data-aos": "fade-up", "data-aos-delay": "100", src: asset_path('JustinMain.jpg')}
      .col-12.col-md-7.col-lg-6.order-md-1.aos-init.aos-animate{"data-aos": "fade-up"}
        %h1.display-3.text-center.text-md-left
          %span.text-danger Justin Adkins
          %br
          for
          %span.text-primary Ohio Senate 16
        %p.lead.text-center.text-md-left.text-muted.mb-6
          %a{href: about_path} My story
          is pretty unique for a political candidate.
          But it’s not unique for everyday Ohioans.
          We need more leaders at the Statehouse who’ve been where I’ve been.
          Then we can propose
          %a{href: issues_path} solutions
          that we know from experience will work.

          %br Join our campaign today!

        = form_for @contact, url: new_volunteer_path, html: {class: 'order-md-1'} do |f|
          = error_messages_for 'contact'
          .form-row.mb-4
            .col
              = f.text_field :first_name, class: 'form-control', required: 'required', placeholder: 'First name'
            .col
              = f.text_field :last_name, class: 'form-control', required: 'required', placeholder: 'Last name'
          .form-row.mb-4
            .col
              = f.email_field :email, class: 'form-control', required: 'required', placeholder: 'Email address'
            .col-auto
              = recaptcha_v3(action: 'volunteer')
              = f.submit "Stay connected", class: "btn btn-danger lift"
%section.pt-8
  .container
    .row.justify-content-center.pt-6
      .col-12.col-md-10.col-lg-8.text-center
        = render partial: 'layouts/partials/alerts'
        %span.badge.badge-pill.badge-primary-soft.mb-3
          %span.h6.text-uppercase Platform
        %h2.font-weight-bold
          It's time to put
          %span.text-danger people over profit.
        %p.font-size-lg.text-muted.mb-8
          Your hard work should benefit you and not just corporations.
          We need better-paying jobs and a government that works for us and not just special interests.
    .row
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-3{"data-aos": "fade-up"}
        .icon-circle.bg-primary.text-white
          %i.fa.fa-user-hard-hat.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Economy
        %p.text-muted.mb-8.mb-md-0
          Our economic policies reward the thinking up top and take advantage of the labor that's also responsible
          for our success. We need a Living Wage to make sure this economy works for everyone.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-3{"data-aos": "fade-up"}
        .icon-circle.bg-danger.text-white
          %i.fa.fa-school.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Education
        %p.text-muted.mb-8.mb-lg-0
          Ohio's schools are poorly funded and have fallen behind other States.
          We need to fix our funding formula so that the quality of a child's education doesn't depend on their zip code.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-3{"data-aos": "fade-up"}
        .icon-circle.bg-primary.text-white
          %i.fa.fa-user-md.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Healthcare
        %p.text-muted.mb-8
          Affordable healthcare and prescription drugs are a right, not a privilege.
          We have to limit the profits of the pharmaceutical industry on life-saving medications.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-5{"data-aos": "fade-up"}
        .icon-circle.bg-danger.text-white
          %i.fa.fa-venus.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Women's Rights
        %p.text-muted.mb-0
          It's a fundamental right for a woman to have control of her body. That right needs to be defended and expanded.
          We also have to eliminate the pay discrimination that women face.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-5{"data-aos": "fade-up"}
        .icon-circle.bg-primary.text-white
          %i.fa.fa-balance-scale.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Criminal Justice
        %p.text-muted.mb-0
          Our policies have to focus on rehabilitation rather than punishment.
          The prison industry has pushed policies that ensure profits for private prisons.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-3{"data-aos": "fade-up"}
        .icon-circle.bg-danger.text-white
          %i.fa.fa-university.fa-2x
        %h3.font-weight-bold.text-primary.mt-1.mt-1
          Democracy
        %p.text-muted.mb-8
          Gerrymandering and expensive campaigns have moved control out of the hands of the voters and into special
          interests and lobbyists.

      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-5{"data-aos": "fade-up"}
        .icon-circle.bg-primary.text-white
          %i.fa.fa-globe-americas.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Environment
        %p.text-muted.mb-8
          In the past forty years, the free market hasn't solved climate change.
          We must do everything we can to ensure the survival of our children and resources.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-5{"data-aos": "fade-up"}
        .icon-circle.bg-danger.text-white
          %i.fa.fa-users.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          LGBTQ+
        %p.text-muted.mb-0
          Ohio must strive to be an open and inclusive state. We must ensure that no one ever faces discrimination based
          on their sexual orientation, gender identity, or gender expression.
      .col-12.col-md-6.col-lg-4.text-center.aos-init.aos-animate.mb-5{"data-aos": "fade-up"}
        .icon-circle.bg-primary.text-white
          %i.fa.fa-cloud.fa-2x
        %h3.font-weight-bold.text-primary.mt-1
          Technology
        %p.text-muted.mb-0
          Our children aren't prepared for an increasingly online world.
          We ignore businesses profiting off data collected about us as we use apps and browse the web.
%section.pt-6
  .container.pb-6.pb-md-8
    .row.align-items-center
      .col-12.col-md
        %h3.font-weight-bold.mb-1.text-danger
          Now is the time to move Ohio forward
        %p.font-size-lg.text-muted.mb-6.mb-md-0
          A living wage, affordable healthcare, prescription drugs pricing should be our top priorities.
          Want to know how we're getting it done?
      .col-12.col-md-auto
        %a.btn.btn-primary.lift{href: issues_path}
          Read my plans for Ohio
          %i.fad.fa-chevron-double-right.d-none.d-md-inline.ml-3
%section.pt-6.mb-8
  .container
    .row.align-items-center.justify-content-between.mb-8
      .col-12.col-md-6.aos-init.aos-animate{"data-aos": "fade-left"}
        %h2
          We're fighting for
          %span.text-danger
            %span{"data-strings": "[\"the right to affordable healthcare.\",\"a woman's right to choose.\",\"economic security.\",\"an end to LGBTQ+ descrimination.\",\"quality schools for our children.\",\"control of our democracy.\",\"affordable childcare.\",\"equal justice for all and so much more!\"]", "data-toggle": "typed"}
        %p.font-size-lg.text-muted.mb-5
          In 2020, we have an opportunity to take back our state and set it on the right path.
          An opportunity for better-funded schools, a Living Wage for everyone, and a healthcare system that puts
          %span.text-danger people over profit.
          %a{href: issues_path}
            Learn more about everything we want to do for Ohioians.
        %h5.font-weight-bold.mt-3.mb-3.text-primary
          Stay connected on social media
        = render partial: 'layouts/partials/media_buttons'
        -# %a.btn.btn-primary.btn-block.lift.mt-6{href: donate_url}
        -#   Help spread our message to voters
      .col-12.col-md-6.col-lg-5.order-md-1.aos-init.aos-animate{"data-aos": "fade-right"}
        .card.shadow-light-lg.lift.lift-lg
          %img.card-img-top{alt: "The campaign team during Columbus Pride 2019", src: asset_path('TheTeam.jpeg')}
          .position-relative
            .shape.shape-bottom.shape-fluid-x.svg-shim.text-white
              %svg{fill: "none", preserveaspectratio: "none", viewbox: "0 0 1440 24", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M0 24H1440V0C722.5 52 0 0 0 0V24Z", fill: "currentColor"}
          -# .card-body
          -#   = form_for @contact, url: new_volunteer_path do |f|
          -#     %h3.text-primary Join our team today!
          -#     = error_messages_for 'contact'
          -#     = f.hidden_field :id
          -#     .form-label-group
          -#       .form-label-group
          -#         = f.text_field :first_name, class: 'form-control form-control-flush', required: 'required', placeholder: 'First name'
          -#         = f.label :first_name
          -#       .form-label-group
          -#         = f.text_field :last_name, class: 'form-control form-control-flush', required: 'required', placeholder: 'Last name'
          -#         = f.label :last_name
          -#       .form-label-group
          -#         = f.email_field :email, class: 'form-control form-control-flush', required: 'required', placeholder: 'Email address'
          -#         = f.label :email
          -#       .form-label-group
          -#         = f.text_field :zip_code, class: 'form-control form-control-flush', required: 'required', placeholder: 'Zip Code'
          -#         = f.label :zip_code
          -#       .form-label-group
          -#         = f.text_field :phone_number, class: 'form-control form-control-flush', placeholder: 'Phone number'
          -#         = f.label :phone_number
          -#     = f.submit "Sign up", class: "btn btn-block btn-danger lift"
          -#     = recaptcha_v3(action: 'volunteer')
    .row.align-items-center.mb-5
      .col-12.col-md-6.order-md-2.aos-init.aos-animate{"data-aos": "fade-right"}
        %h2
          Where is
          %span.text-danger District 16
          at exactly?
        %p.font-size-lg.text-muted.mb-5
          The district encompasses the majority of western the half of Franklin County and most of north-west Columbus.
          %a.text-primary.font-size-sm{href: "https://statisticalatlas.com/state-upper-legislative-district/Ohio/State-Senate-District-16/Overview", target: "_blank"}
            Source and additional information.
        .row
          .col-12.col-lg-6
            .d-flex
              .badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Dublin
            .d-flex
              %span.badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Grove City
          .col-12.col-lg-6
            .d-flex
              .badge.badge-rounded-circle.badge-primary-soft.mr-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Harrisburg
            .d-flex
              %span.badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Hilliard
          .col-12.col-lg-6
            .d-flex
              .badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Parts of Columbus
            .d-flex
              %span.badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Riverlea
          .col-12.col-lg-6
            .d-flex
              .badge.badge-rounded-circle.badge-primary-soft.mr-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Upper Arlington
            .d-flex
              .badge.badge-rounded-circle.badge-primary-soft.mr-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Urbancrest
          .col-12.col-lg-6
            .d-flex
              %span.badge.badge-rounded-circle.badge-primary-soft.mt-1.mr-4
                %i.fas.fa-dot-circle
              %p.text-primary
                Worthington
      .col-12.col-md-6.order-md-1
        %img.screenshot.img-fluid.mb-3{alt: "...", src: asset_path('District.png')}
= content_for :scripts do
  :javascript
    (function () {
      var toggle = document.querySelectorAll('[data-toggle="typed"]');
      function init(elem) {
        var typed = new Typed(elem, {
          strings: JSON.parse(elem.dataset.strings),
          typeSpeed: 40,
          backSpeed: 40,
          backDelay: 1250,
          loop: true
        })
      }
      if (toggle) {
        [].forEach.call(toggle, function (elem) {
          console.log('init called');
          init(elem);
        });
      }
    })();
