- page_title 'News'

#fb-root
%script{async: "", crossorigin: "anonymous", defer: "defer", src: "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"}

.row.mt-5
  .col-12
    .row.mb-6.mb-md-8
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-newspaper.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          News
        %p.font-size-lg.text-gray-700.mb-0
          Announcements and highlights from the campaign trail

  .col-12.col-md-8
    .list-group
      .list-group-item
        .mr-auto
          %h3.font-weight-bold.mb-0.text-primary
            = link_to "Statement from Candidate Justin Adkins", news_suspension_path
          %p.font-size-lg.text-gray-700.mb-0
            %i.fa.fa-calendar
            Thursday, Janurary 23, 2020
      .list-group-item
        .mr-auto
          %h3.font-weight-bold.mb-0.text-primary
            = link_to "Candidate Justin Adkins Condems Kunze’s Vote for Extremist Abortion Misinformation Bill", news_sb208_path
          %p.font-size-lg.text-gray-700.mb-0
            %i.fa.fa-calendar
            Friday, November 8, 2019
  .col-12.col-md-4
    .fb-page{"data-adapt-container-width": "true", "data-height": "", "data-hide-cover": "false", "data-href": facebook_url, "data-show-facepile": "true", "data-small-header": "false", "data-tabs": "timeline,events", "data-width": ""}
      %blockquote.fb-xfbml-parse-ignore{cite: facebook_url}
        %a{href: facebook_url} Justin Adkins for Ohio Senate

%section.pt-6
  .row.align-items-center
    .col-12.col-md
      %h3.font-weight-bold.mb-1.text-danger
        Stay connected on social media
      %p.font-size-lg.text-muted.mb-6.mb-md-0
        With your help, our democracy can be one person, one vote!
    .col-12.col-md-auto
      = render partial: 'layouts/partials/media_buttons'
