- page_title "Candidate Justin Adkins Condems Kunze’s Vote for Extremist Abortion Misinformation Bill", 'News'

.row.mt-5
  .col-12
    .row.mb-6.mb-md-8
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-newspaper.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0
          CANDIDATE JUSTIN ADKINS CONDEMNS KUNZE'S VOTE FOR EXTREMIST ABORTION MISINFORMATION BILL
        %p.font-size-lg.text-gray-700.mb-0
          Friday, November 8, 2019
.row
  .col-12.col-md-9
    %p.card-text
      COLUMBUS, OH – Candidate for the Ohio Senate District 16 Justin Adkins of Columbus, OH offered the following
      comments on a decision by his opponent, Senator Stephanie Kunze, to vote for Senate Bill 208.
    %p.card-text
      “GOP Senators once again appear to be putting special-interests above the needs of Ohioans by pushing more
      partisan abortion laws through the Senate,” said a disappointed Adkins. “Senator Stephanie Kunze voted for
      SB 208 which expands on abortion laws that are already on the books by seeking to criminalize physicians who
      provide abortions. The bill creates more bureaucratic overhead and extra work with required monthly and yearly
      reports, and draconian penalties for failing to file those reports.”
    %p.card-text
      Failure to comply with the bill’s provisions would subject the physician to a third degree felony, as well as
      all related court costs, just for spite.
    %p.card-text
      “In 2020, Senator Kunze has a performance review scheduled with the people of the 16th District. I would think
      she’d want to focus on real priorities like affordable healthcare and higher-wage jobs rather than wasting
      taxpayer dollars trying to shame women and punish doctors for doing their job.”
    %p.card-text
      Adkins is fighting to bring evidenced-based solutions and an outsider’s perspective to the Statehouse.
      As a software developer and small business owner running on a platform of people over profit, Justin wants to
      move Ohio forward by tackling the skyrocketing costs of life-saving drugs like Insulin and Epi-Pen. More
      information about Justin’s campaign platform can be found at
      = link_to 'here.', issues_path, class: 'card-link'
    %p.card-text.text-center
      = "###"
  .col-12.col-md-3
    = render partial: 'layouts/partials/media_contact'
    %a{href: '/adkins-sb208.pdf'}
      %i.fa.fa-file-pdf
      PDF Download
%section.pt-6
  .row.align-items-center
    .col-12.col-md
      %h3.font-weight-bold.mb-1.text-danger
        Stay connected on social media
      %p.font-size-lg.text-muted.mb-6.mb-md-0
        With your help, our democracy can be one person, one vote!
    .col-12.col-md-auto
      = render partial: 'layouts/partials/media_buttons'
