- page_title "Statement from Candidate Justin Adkins", 'News'

.row.mt-5
  .col-12
    .row.mb-6.mb-md-8
      .col-auto
        .icon-circle.bg-danger.text-white
          %i.fa.fa-newspaper.fa-2x
      .col.ml-n4
        %h2.font-weight-bold.mb-0.text-uppercase
          Statement from Candidate Justin Adkins
        %p.font-size-lg.text-gray-700.mb-0
          Thursday, Janurary 23, 2020
.row
  .col-12.col-md-9
    %p.card-text
      COLUMBUS, OH – I joined this race because our district needs a champion in the Ohio Senate. More and more of our
      neighbors are unable to afford access to quality healthcare or their life-saving prescription drugs.
      At the same time, we’re facing stagnant wages and the rising cost of everything from childcare to education.
      I know from personal experience how devastating these barriers can be.
    %p.card-text
      In 2020, we have an opportunity to take back our state and set it on the right path. We need bold new leadership
      to tackle the challenges that lie ahead. We don’t have time for politics as usual.
    %p.card-text
      Over the past few weeks, I’ve come to realize that I am not currently in a position to be the candidate with the
      best shot at flipping this district and improving life for its residents.
    %p.card-text
      That is why I’m announcing my decision to suspend my campaign for the Democratic Party’s nomination for Ohio
      Senate District 16.
    %p.card-text
      My volunteers, supporters, and the residents of SD 16 deserve a nominee with the strongest chance at beating the
      Statehouse supermajority in November.
    %p.card-text
      That is why tonight I gladly throw my support behind
      %a{href: "https://www.lettforohio.com/home"} Crystal Lett.
    %p.card-text
      Our communities need someone to fight for access to affordable healthcare and prescription drugs. Someone to make
      sure our children attend safe and properly funded schools. Crystal is the fighter we need to deliver us these wins
      for our children and communities. Crystal is the strongest candidate and best person to turn District 16 blue in
      2020.
    %p.card-text
      To those whose support has brought me this far, I am deeply honored to have earned your trust.
      I’m sorry that I wasn’t able to carry us over the finish line this time. But this is only the beginning of my
      efforts to serve and improve Central Ohio. I know we will accomplish big things together in the months and years
      to come.
    %p.card-text
      For now, I look forward to working with you to win SD 16 for Crystal Lett on March 17th and again in November.
    %p.card-text.text-center
      = "###"
  .col-12.col-md-3
    = render partial: 'layouts/partials/media_contact'
    %a{href: '/adkins-suspension.pdf'}
      %i.fa.fa-file-pdf
      PDF Download
%section.pt-6
  .row.align-items-center
    .col-12.col-md
      %h3.font-weight-bold.mb-1.text-danger
        Stay connected on social media
      %p.font-size-lg.text-muted.mb-6.mb-md-0
        With your help, our democracy can be one person, one vote!
    .col-12.col-md-auto
      = render partial: 'layouts/partials/media_buttons'
