.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-person-sign
          Political Parties
      .col-auto
        = link_to 'New Party', new_mc_political_party_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th{:style => "width: 5%;"}
          %th Name
          %th Reporting Code
          %th Active
      %tbody
        - @parties.each do |c|
          %tr
            %td= link_to 'View', mc_political_party_path(c), class: 'btn btn-outline-secondary btn-sm'
            %td
              %i{:class => "fad fa-#{political_party_icon(c)}"}
              = c.name
            %td= c.reporting_code
            %td= c.active
