- content_for :header do
  Login

= form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = devise_error_messages!
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-lock-alt
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address', autocomplete: false
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fad.fa-key
      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
  .form-group
    = f.submit 'Log in', class: 'btn btn-outline-primary btn-block btn-login'
  = render 'devise/shared/links'
