.card
  .card-header
    %h3.card-header-title
      %i.fad.fa-phone-office.fa-lg
      Donation Calls
  - if contact.donor_calls.any?
    .card-body
      Records found
  - else
    .card-body
      This contact hasn't been contacted for a donation yet.
