.card
  .card-header
    .row.align-items-center
      .col
        %h4.card-header-title
          %i.fad.fa-donate.fa-lg
          Contributions
      .col-auto
        %a.btn.btn-sm.btn-white{href: new_mc_contribution_path(contact_id: contact)}
          New
  - if contact.contributions.recent.any?
    %table.table
      %thead
        %tr
          %th.action-column
          %th Date
          %th Amount
          %th Type
          %th Description
      %tbody
        - contact.contributions.recent.each do |cont|
          %tr
            %td= link_to 'View', mc_contribution_path(cont)
            %td= cont.contribution_date
            %td= number_to_currency cont.amount
            %td= cont.type.name
            %td= cont.description
  - else
    .card-body
      This contact hasn't contributed yet to the campaign within the past 30 days
