.card
  .card-header
    .row.align-items-center
      .col
        %h4.card-header-title
          %i.fad.fa-file-invoice.fa-lg
          Expenses
      .col-auto
        %a.btn.btn-sm.btn-white{href: new_mc_expense_path(contact_id: contact)}
          New
  - if contact.expenses.recent.any?
    %table.table
      %thead
        %tr
          %th.action-column
          %th Date
          %th Amount
          %th Type
          %th Description
      %tbody
        - contact.expenses.recent.each do |exp|
          %tr
            %td= link_to 'View', mc_expense_path(exp)
            %td= exp.expense_date
            %td= number_to_currency exp.amount
            %td= exp.type.name
            %td= exp.description
  - else
    .card-body
      This contact is not associated to any expenses within the past 30 days.
