.card
  .card-header
    %h3.card-header-title
      %i.fad.fa-user.fa-lg
      Information
  .card-body
    = f.hidden_field :id
    .form-row
      .form-group.col-12.col-lg-3
        = f.label :first_name, class: 'col-form-label'
        = f.text_field :first_name, class: 'form-control'
      .form-group.col-12.col-lg-2
        = f.label :middle_name, class: 'col-form-label'
        = f.text_field :middle_name, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :last_name, class: 'col-form-label'
        = f.text_field :last_name, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :employer, class: 'col-form-label'
        = f.text_field :employer, class: 'form-control'
      .form-group.col-12.col-lg-1
        = f.label :birth_year, class: 'col-form-label'
        = f.number_field :birth_year, in: 1900..2003, class: 'form-control'
    %hr
    .form-row
      .form-group.col
        = f.label :organization_name, class: 'col-form-label'
        = f.text_field :organization_name, class: 'form-control'
.row
  .col
    .card
      .card-header
        %h3.card-header-title
          %i.fad.fa-address-card.fa-lg
          Address  Contact
      .card-body
        .form-row
          .form-group.col-12
            = f.label :address, class: 'col-form-label'
            = f.text_field :address, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :city, class: 'col-form-label'
            = f.text_field :city, class: 'form-control'
          .form-group.col-12.col-lg-3
            = f.label :state, class: 'col-form-label'
            = f.text_field :state, class: 'form-control'
          .form-group.col-12.col-lg-3
            = f.label :zip_code, class: 'col-form-label'
            = f.text_field :zip_code, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :phone_number, class: 'col-form-label'
            = f.telephone_field :phone_number, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :email, class: 'col-form-label'
            = f.email_field :email, class: 'form-control'
  .col
    .card
      .card-header
        %h3.card-header-title
          %i.fad.fa-person-booth.fa-lg
          Voter Information
      .card-body
        .form-row
          .form-group.col-12.col-lg-4
            = f.label :voter_id, class: 'col-form-label'
            = f.text_field :voter_id, class: 'form-control'
          .form-group.col-12.col-lg-4
            = f.label :voter_status, class: 'col-form-label'
            = f.text_field :voter_status, class: 'form-control'
          .form-group.col-12.col-lg-4
            = f.label :party_affilation, class: 'col-form-label'
            = f.select :political_party_id,
              options_from_collection_for_select(@parties, 'id', 'name', @contact.political_party_id),
              { include_blank: '- Select -' },
              { class: 'form-control', 'data-toggle': 'select' }
          .form-group.col-12.col-lg-4
            = f.label :house, class: 'col-form-label'
            = f.text_field :house, class: 'form-control'
          .form-group.col-12.col-lg-4
            = f.label :senate, class: 'col-form-label'
            = f.text_field :senate, class: 'form-control'
          .form-group.col-12.col-lg-4
            = f.label :congressional, class: 'col-form-label'
            = f.text_field :congressional, class: 'form-control'
        .form-row
          .form-group.col-12.col-lg-6
            = f.label :precinct, class: 'col-form-label'
            = f.text_field :precinct, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :school, class: 'col-form-label'
            = f.text_field :school, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :township, class: 'col-form-label'
            = f.text_field :township, class: 'form-control'
          .form-group.col-12.col-lg-6
            = f.label :village, class: 'col-form-label'
            = f.text_field :village, class: 'form-control'
.card
  .card-header
    %h3.card-header-title
      %i.fad.fa-person-sign.fa-lg
      Volunteer Opportunities
  .card-body
    = collection_check_boxes(:contact, :volunteer_duty_ids, VolunteerDuty.active.order(name: :asc), :id, :name) do |b|
      .custom-control.custom-checkbox.custom-control-inline
        = b.check_box(class: 'custom-control-input')
        = b.label(class: 'custom-control-label')
