.card
  .card-header
    %h3.card-header-title
      %i.fad.fa-person-sign.fa-lg
      Volunteer Opportunities
  - if contact.volunteer?
    %ul.list-group
      - contact.volunteer_duties.each do |vd|
        %li.list-group-item
          = vd.name
  - else
    .card-body
      This contact has not signed up to volunteer with the campaign.
