.card
  .card-header
    %h3.card-header-title
      %i.fad.fa-person-booth.fa-lg
      Voting Information
  .card-body
    - if contact.voter_id.present?
      .row.mt-2
        = label(:contact, :voter_id, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.voter_id
    - if contact.voter_status.present?
      .row.mt-2
        = label(:contact, :voter_status, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.voter_status
    - if contact.political_party_id.present?
      .row.mt-2
        = label(:contact, :political_party_id, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          %i{:class => "fad fa-#{political_party_icon(contact.political_party)} fa-lg"}
          = contact.political_party.name
    - if contact.house.present?
      .row.mt-2
        = label(:contact, :house, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.house
    - if contact.senate.present?
      .row.mt-2
        = label(:contact, :senate, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.senate
    - if contact.congressional.present?
      .row.mt-2
        = label(:contact, :congressional, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.congressional
    - if contact.precinct.present?
      .row.mt-2
        = label(:contact, :precinct, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.precinct
    - if contact.school.present?
      .row.mt-2
        = label(:contact, :school, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.school
    - if contact.township.present?
      .row.mt-2
        = label(:contact, :township, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.township
    - if contact.village.present?
      .row.mt-2
        = label(:contact, :village, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
        .col-12.col-lg-7.text-right
          = contact.village
