= render partial: 'destroy_confirmation', locals: { contact: @contact }

= form_for @contact, url: mc_contact_path(@contact), method: :patch do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Modify
          %h1.header-title
            %i.fad.fa-address-book
            Update Contact
        .col-auto
          = link_to 'Cancel', mc_contact_path(@contact), class: 'btn btn-link text-muted'
          = f.submit 'Save Changes', class: 'btn btn-success lift'
          %a.btn.btn-danger{"data-target": "#destroymodal", "data-toggle": "modal", href: "#"}
            Delete
  = render partial: 'form', locals: { f: f }
