.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-address-book
          Contacts
      .col-auto
        = link_to 'New Contact', new_mc_contact_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th{:style => "width: 5%;"}
          %th Name
          %th Email
          %th Phone Number
          %th Source
      %tbody
        - @contacts.each do |c|
          %tr
            %td= link_to 'View', mc_contact_path(c), class: 'btn btn-outline-secondary btn-sm'
            %td
              = c.name
              - if c.volunteer?
                %i.fad.fa-person-sign{title: 'Volunteer'}
              - if c.donor?
                %i.fad.fa-donate{title: 'Donor'}
            %td= c.email
            %td= number_to_phone c.phone_number
            %td= c.source
