= form_for @contact, url: mc_contacts_path do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Create
          %h1.header-title
            %i.fad.fa-address-book
            New Contact
        .col-auto
          = link_to 'Cancel', mc_contacts_path, class: 'btn btn-link text-muted'
          = f.submit 'Create', class: 'btn btn-success lift'
  = render partial: 'form', locals: { f: f }
