.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Contacts
        %h1.header-title
          %i.fad.fa-address-book
          = @contact.name
      .col-auto
        = link_to 'Go Back', mc_contacts_path, class: 'btn btn-link text-muted'
        = link_to 'Edit', edit_mc_contact_path(@contact), class: 'btn btn-primary lift'
.row
  .col-5
    .card
      .card-header
        %h3.card-header-title
          %i.fad.fa-user.fa-lg
          Information
      .card-body
        - if @contact.full_address.present?
          .row.mt-2
            %strong.col-12.col-lg-5.text-uppercase Address
            .col-12.col-lg-7.text-right
              = @contact.full_address.html_safe
        - if @contact.email.present?
          .row.mt-2
            = label(:contact, :email, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
            .col-12.col-lg-7.text-right
              = @contact.email
        - if @contact.phone_number.present?
          .row.mt-2
            = label(:contact, :phone_number, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
            .col-12.col-lg-7.text-right
              = number_to_phone @contact.phone_number
        - if @contact.birth_year.present?
          .row.mt-2
            = label(:contact, :birth_year, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
            .col-12.col-lg-7.text-right
              = @contact.birth_year
        - if @contact.employer.present?
          .row.mt-2
            = label(:contact, :employer, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
            .col-12.col-lg-7.text-right
              = @contact.employer
        .row.mt-2
          = label(:contact, :source, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
          .col-12.col-lg-7.text-right
            = @contact.source
        .row.mt-2
          = label(:contact, :created_at, class: 'col-12 col-lg-5 text-uppercase font-weight-bold')
          .col-12.col-lg-7.text-right
            = @contact.created_at
    = render partial: 'voter_info', locals: { contact: @contact }
  .col-7
    = render partial: 'volunteer', locals: { contact: @contact }
    = render partial: 'communications', locals: { contact: @contact }
    = render partial: 'contributions', locals: { contact: @contact }
    = render partial: 'expenses', locals: { contact: @contact }
