.card
  .card-header
    %h3.card-header-title
      Information
  .card-body
    = f.hidden_field :id
    .form-row
      .form-group.col-12.col-lg-6
        = f.label :contact_id, class: 'col-form-label'
        = f.select :contact_id,
          options_from_collection_for_select(@contacts, 'id', 'name', @contribution.contact_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-3
        = f.label :amount, class: 'col-form-label'
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fad.fa-dollar-sign
          = f.text_field :amount, class: 'form-control'
      .form-group.col-12.col-lg-3
        = f.label :contribution_date, class: 'col-form-label'
        #contributionpicker.input-group.date{"data-target-input": "nearest", 'data-date-picker': ''}
          = f.text_field :contribution_date, value: l_present(@contribution.contribution_date), class: 'form-control datepicker-input', 'data-target': '#contributionpicker'
          .input-group-append{"data-target": "#contributionpicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar
    .form-row
      .form-group.col-12.col-lg-3
        = f.label :contribution_type_id, class: 'col-form-label'
        = f.select :contribution_type_id,
          options_from_collection_for_select(@types, 'id', 'name', @contribution.contribution_type_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-3
        = f.label :contribution_form_id, class: 'col-form-label'
        = f.select :contribution_form_id,
          options_from_collection_for_select(@forms, 'id', 'name', @contribution.contribution_form_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-6
        = f.label :description, class: 'col-form-label'
        = f.text_field :description, class: 'form-control'
      .form-group.col-12.col-lg-6
        = f.label :event_id, class: 'col-form-label'
        = f.select :event_id,
          options_from_collection_for_select(@events, 'id', 'name', @contribution.event_id),
          { include_blank: '- Select -' },
          { class: 'form-control', 'data-toggle': 'select' }
      .form-group.col-12.col-lg-2
        .custom-control.custom-checkbox.custom-control-inline
          = f.check_box :thanked, class: 'custom-control-input'
          = f.label :thanked, class: 'custom-control-label'
      .form-group.col-12.col-lg-3
        = f.label :deleted_at, class: 'col-form-label'
        #deletedpicker.input-group.date{"data-target-input": "nearest", 'data-date-time-picker': ''}
          = f.text_field :deleted_at, value: l_present(@contribution.deleted_at), class: 'form-control datepicker-input', 'data-target': '#deletedpicker'
          .input-group-append{"data-target": "#deletedpicker", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fad.fa-calendar