= form_for @contribution, url: mc_contribution_path(@contribution), method: :patch do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Finances
          %h1.header-title
            %i.fad.fa-donate
            Edit Contribution
        .col-auto
          = link_to 'Cancel', mc_expenses_path, class: 'btn btn-link text-muted'
          = f.submit 'Save Changes', class: 'btn btn-success lift'
  = render partial: 'form', locals: { f: f }
