.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Finances
        %h1.header-title
          %i.fad.fa-donate
          Contributions
      .col-auto
        = link_to 'New Contribution', new_mc_contribution_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th
          %th Date
          %th Donor
          %th Type
          %th Amount
      %tbody
        - @contributions.each do |c|
          %tr
            %td.action-column
              = link_to 'Edit', edit_mc_contribution_path(c), class: 'btn btn-outline-secondary btn-sm'
              - if c.deleted_at.present?
                .badge.badge-soft-danger.mt-2 Deleted
            %td= l_present c.contribution_date
            %td= c.contact.name
            %td= c.type.name
            %td= number_to_currency c.amount
