= form_for @contribution, url: mc_contributions_path do |f|
  .header.mt-md-5
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Finances
          %h1.header-title
            %i.fad.fa-donate
            New Contribution
        .col-auto
          = link_to 'Cancel', mc_contributions_path, class: 'btn btn-link text-muted'
          = f.submit 'Create', class: 'btn btn-success lift'
  = render partial: 'form', locals: { f: f }
