//
// user.scss
// Use this to write your custom SCSS
//

@import "tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4.scss";

.bootstrap-datetimepicker-widget {
  &.dropdown-menu {
    width: unset;
  }
}

.card {
  .list-group-item {
    border: 1px solid #e3ebf6;
  }
}

.sidebar-icon {
  min-width: $navbar-icon-min-width;
  padding-bottom: 0.125em;
  line-height: ($font-size-base * $line-height-base);
  margin-left: -5px;
  margin-right: 5px;
}
