- if Rails.env.production?
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-114906119-3"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114906119-3');
