.container
  .row
    .col-12.col-md-4.col-lg-3
      %img.footer-brand.img-fluid.mb-2{alt: "Campaign logo", src: asset_path('NameBadge.jpg')}
      %p.text-gray-700.mb-2
        Paid for by Adkins for Ohio
        %br/
        163 W Kanawha Ave
        Columbus, OH 43214
      %ul.list-unstyled.list-inline.list-social.mb-6.mb-md-0
        %li.list-inline-item.list-social-item.mr-3
          %a.text-decoration-none{href: facebook_url, target: "_blank"}
            %i.fab.fa-facebook-square.fa-lg.text-muted
        %li.list-inline-item.list-social-item.mr-3
          %a.text-decoration-none{href: instagram_url, target: "_blank"}
            %i.fab.fa-instagram.fa-lg.text-muted
        %li.list-inline-item.list-social-item.mr-3
          %a.text-decoration-none{href: twitter_url, target: "_blank"}
            %i.fab.fa-twitter.fa-lg.text-muted
        -# %li.list-inline-item.list-social-item.mr-3
        -#   %a.text-decoration-none{href: youtube_url, target: "_blank"}
        -#     %i.fab.fa-youtube.fa-lg.text-muted
        %li.list-inline-item.list-social-item.mr-3
          %a.text-decoration-none{href: gitlab_url, target: "_blank"}
            %i.fab.fa-gitlab.fa-lg.text-muted
    .col-6.col-md-4.col-lg-2
      %h6.font-weight-bold.text-uppercase.text-danger
        The Campaign
      %ul.list-unstyled.text-muted.mb-6.mb-md-8.mb-lg-0
        %li.mb-3
          %a.text-reset{href: about_path}
            Meet Justin        
        %li.mb-3
          %a.text-reset{href: contact_path}
            Contact Us
    .col-6.col-md-4.col-lg-2
      %h6.font-weight-bold.text-uppercase.text-danger Platform
      %ul.list-unstyled.text-muted.mb-0
        %li.mb-3
          %a.text-reset{href: democracy_path}
            Democracy
        %li.mb-3
          %a.text-reset{href: economy_path}
            Economy
        %li.mb-3
          %a.text-reset{href: education_path}
            Education
        %li.mb-3
          %a.text-reset{href: environment_path}
            Environment
    .col-6.col-md-4.col-lg-2
      %h6.font-weight-bold.text-uppercase.text-danger Platform
      %ul.list-unstyled.text-muted.mb-0
        %li.mb-3
          %a.text-reset{href: healthcare_path}
            Healthcare
        %li.mb-3
          %a.text-reset{href: lgbtq_path}
            LGBTQ+
        %li.mb-3
          %a.text-reset{href: technology_path}
            Technology
        %li
          %a.text-reset{href: womens_rights_path}
            Women's Rights
    .col-6.col-md-4.col-lg-2
      %h6.font-weight-bold.text-uppercase.text-danger
        Links
      %ul.list-unstyled.text-muted.mb-0
        %li.mb-3
          %a.text-reset{href: "https://vote.franklincountyohio.gov/"}
            Board of Elections
        %li.mb-3
          %a.text-reset{href: "https://www.sos.state.oh.us/"}
            Secretary of State
