%meta{charset: "utf-8"}
%meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
%meta{content: "Adkins for Ohio", name: "author"}
%meta{content: t('site.description'), name: "description"}
%meta{content: "justin,adkins,ohio,senate,16,people,profit,grassroots", name: "keywords"}
%meta{property: "og:site_name", content: t('site.title')}
%meta{property: "og:type", content: 'website'}
%meta{property: "og:url", content: request.base_url + request.path}
%meta{property: "og:title", content: t('site.title_long')}
%meta{property: "og:description", content: t('site.description')}
%meta{property: "og:image", content: asset_url('share.jpg')}

%meta{property: "twitter:card", content: 'summary_large_image'}
%meta{property: "twitter:site", content: '@adkinsforohio'}
%meta{property: "twitter:title", content: t('site.title_long')}
%meta{property: "twitter:description", content: t('site.description')}
%meta{property: "twitter:image", content: asset_url('share.jpg')}
%meta{property: "twitter:image:alt", content: 'Adkins for Ohio campaign logo with cutout of Justin'}

= csrf_meta_tags
= csp_meta_tag
%script{src: "https://kit.fontawesome.com/41aacffc34.js"}
