.btn-group.btn-block
  %a.btn.btn-primary-soft.btn-sm.lift{href: facebook_url, target: "_blank"}
    %i.fab.fa-facebook-square
    Facebook
  %a.btn.btn-primary-soft.btn-sm.lift{href: instagram_url, target: "_blank"}
    %i.fab.fa-instagram
    Instagram
  %a.btn.btn-primary-soft.btn-sm.lift{href: twitter_url, target: "_blank"}
    %i.fab.fa-twitter
    Twitter
  -# %a.btn.btn-primary-soft.btn-sm.lift{href: reddit_url, target: "_blank"}
  -#   %i.fab.fa-reddit
  -#   Reddit
  -# %a.btn.btn-primary-soft.btn-sm.lift{href: youtube_url, target: "_blank"}
  -#   %i.fab.fa-youtube
  -#   YouTube
