%nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-primary
  %a.navbar-brand{href: root_path}
    %span.d-none.d-md-inline Justin
    = t('site.title_short')
  %button.navbar-toggler{"aria-controls":  "navbarCollapse", "aria-expanded":  "false", "aria-label": "Toggle navigation", "data-target":  "#navbarCollapse", "data-toggle":  "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{href: about_path} Meet Justin
      %li.nav-item
        %a.nav-link{href: issues_path} Platform
      -# %li.nav-item
      -#   %a.nav-link{href: volunteer_path} Join our Team
      -# %li.nav-item
      -#   %a.nav-link{href: events_path} Events
      %li.nav-item
        %a.nav-link{href: news_path} News
      %li.nav-item
        %a.nav-link{href: contact_path} Contact Us
    - if user_signed_in?
      %a.navbar-btn.btn.btn-info.lift.ml-auto{href: mc_dashboard_path}
        %i.fad.fa-rocket
        Mission Control
