.alert.alert-info
  %h4.alert-heading Campaign Update!
  Justin Adkins has suspended his campaign and proudly endorsed
  %a.alert-link.text-bold{href: 'https://www.lettforohio.com/home'} Crystal Lett
  for Ohio Senate District 16!
  %hr
  %a.alert-link.text-bold{href: 'https://www.lettforohio.com/home'}
    See why Crystal is the fighter we need in the Senate
    %i.fad.fa-chevron-double-right.ml-3
