.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          %i.fad.fa-coins
          Contribution Types
      .col-auto
        = link_to 'New Type', new_mc_contribution_type_path, class: 'btn btn-primary lift'
.card
  .table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th{:style => "width: 5%;"}
          %th Name
          %th Reporting Code
          %th Active
      %tbody
        - @types.each do |c|
          %tr
            %td= link_to 'View', mc_contribution_type_path(c), class: 'btn btn-outline-secondary btn-sm'
            %td= c.name
            %td= c.reporting_code
            %td= c.active
