.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Work In Progress
        %h1.header-title
          %i.fad.fa-exclamation-triangle
          Coming Soon