!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= page_title 'Justin Adkins for Ohio Senate 16'
    = render partial: "layouts/partials/header"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.padded-body
    = render partial: "layouts/partials/navbar"
    %main.container{:role => "main", :style => "padding-top: 1rem;"}
      = render partial: "layouts/partials/alerts"
      = render partial: 'layouts/partials/suspension'
      = yield
    %footer.py-8.py-md-11.mt-5.bg-light
      = render partial: "layouts/partials/footer"
    = render partial: "layouts/partials/analytics"
    = yield :scripts
