!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title= page_title 'Justin Adkins for Ohio Senate 16'
    = render partial: "layouts/partials/header"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.padded-body
    = render partial: "layouts/partials/navbar"
    %main.container{role: "main", style: "padding-top: 1rem;"}
      = render partial: "layouts/partials/alerts"
      .row
        .col-sm-8.offset-sm-2
          .card
            .card-header.bg-primary.text-white
              %strong Adkins for Ohio
              |
              = yield :header
            .card-body
              = yield
    = render partial: "layouts/partials/analytics"
    = yield :scripts