!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title= page_title 'Mission Control', 'Adkins for Ohio'
    = render partial: "layouts/partials/header"
    = stylesheet_link_tag    'mission_control', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'mission_control', 'data-turbolinks-track': 'reload'
  %body{style: "display: block;"}
    = render partial: "layouts/mission_control/sidebar"
    .main-content
      = render partial: "layouts/mission_control/navbar"
      = render partial: "layouts/mission_control/logout"
      .container-fluid
        = render partial: "layouts/partials/alerts"
        = yield
        = yield :scripts
